<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Android 13+ (API 33) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Android 12 이하 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>